@page
@model UCP.App.Frontend.Pages.DetallesModel
@{
}
<h1>Detalles del profesor</h1>
<table class="table">
    <tr>
        <td>@Model.profesor.nombre</td>
        <td>@Model.profesor.apellidos</td>
        <td>@Model.profesor.identificacion</td>
        <td>@Model.profesor.telefono</td>
        <td>@Model.profesor.correoElectronico</td>
        <td>@Model.profesor.condicionEspecial</td>
        <td>@Model.profesor.facultad</td>
        <td>@Model.profesor.cubiculo</td>
    </tr>
</table>
<a class="btn btn-primary" asp-area="" asp-page="/Listas/Profesores">Profesores</a>